/* ====== Colors ======
  Drak Grey: #2A2A2A
  Blue: #107698
  Orange: #FDB530
  Heading Color: #0a465b
  Para Text: #7f969e
*/

/* Global Body Styles */
 body {
   font-family: 'Source Sans Pro', sans-serif;
   font-weight: 400;
 }

 p {
  line-height: 1.4;
  color: #7f969e;
 }

/* ===== Header Styles ===== */
header {
  background-color: #2A2A2A;
  position: relative;
  box-shadow: 0px 3px 8px 0px rgba(0,0,0,.5);
}

/* First div element inside the header */
header > div {
  width: 1200px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

header img {
  margin: 16px 0px;
}

header nav {
  display: flex;
  align-items: center;
}

header nav a {
  text-transform: uppercase;
  color: #d4d4d4;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
  padding: 7px 15px;
  border-radius: 2px;
  transition: all .3s;
}

/* To Highlight to Orange color */
nav a:last-of-type {
  color: #FDB530;
}

header nav a:hover {
  color: white;
}

nav a.active {
  background-color: #107698;
  color: white;
}


/* ===== Page Name Styles ===== */
#pageNameContainer{
  height: 50px;
  background-image: url(https://www.optimal-partners.com/site_images/ourServicesHeader.jpg);
  text-align: center;
  padding: 70px 0;
  background-position: center;
  background-repeat: no-repeat;
}

h1 {
  font-size: 50px;
  color: white;
  font-weight: 300;
  text-shadow: 1px 2px 2px black;
}

/* ===== weServe ===== */
#weServe {
  background-color: white;
  padding: 50px 0 70px;
}

#weServe h2 {
  color: #0a465b;
  font-size: 34px;
  font-weight: 300;
  text-align: center;
  margin-bottom: 30px;
}

#weServe p {
  font-size: 18px;
  width: 900px;
  margin: 0 auto;
  text-align: center;
}

#weServe p span {
  color: Orange;
}
