/* =========================== */
/* ====== Mobile Styles ======  */
/* =========================== */
/* If the browser window is 600px or smaller, then apply the below style: */
@media only screen and (max-width: 1000px) {
  section.contentContainer h2, section.contentContainer > p {
    width: auto;
    padding: 0 16px;
  }

  section.blockStyle div.flexContainer {
    flex-flow: column;
    align-items: center;
  }

  section.blockStyle article {
    width: auto !important;
    max-width: 600px;
    margin: 0 16px;
  }

  section#blockStyle2 div.flexContainer {
    gap: 40px;
  }

  section.nakedStyle div.flexContainer {
    flex-flow: column;
    width: auto;
    align-items: center;
  }

  section.nakedStyle article {
    width: auto;
    max-width: 600px;
    margin-right: 16px;
    margin-left: 16px;
  }

  .leftSide, .separator1 {
    display: none;
  }

  .rightSide {
    margin-top: 16px;
  }

  #getInTouch section {
    width: auto;
    justify-content: center;
  }

  #getInTouch section > div:last-of-type {
    gap: 24px;
  }

  #trustedBy img {
    width: 90%;
    margin-left: 20px;
    margin-right: 20px;
  }

}
