/* ====== Global Styles ====== */
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
}

p {
  line-height: 1.4;
}

/* ======= Without using FlexBox! ======= */
/* header {
  background-color: #2A2A2A;
  padding: 16px 160px;
}
nav {
  display: inline-block;
  vertical-align: top;
  float: right;
  padding-top: 16px;
} */
/* ======= Without using FlexBox! ======= */


header {
  background-color: #2A2A2A;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 16px 0;
}
nav a {
  text-transform: uppercase;
  font-weight: bold;
  color: #d4d4d4;
  text-decoration: none;
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 13px;
  transition: all .2s;
}
nav a:hover {
  color: white;
}
nav a#blueBox {
  background-color: #107698;
  color: white;
}
nav a#orangeHighlight {
  color: orange;
}
header div {
  background-color: green;
  width: 50px;
  height: 10px;
}

/* ====== Designing Blocks ======  */
#varietyOfServices {
  display: flex;
  justify-content: center;
  gap: 32px;
  background-color: #EDEff3;
  padding: 200px 0;
}

#varietyOfServices article {
  box-shadow: 0px 3px 8px 0px rgb(0 0 0 / 20%);
  width: 260px;
  background-color: white;
}

#varietyOfServices article h3 {
  background-color: #107698;
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
  height: 60px;
  border-bottom: 5px solid lightgrey;
}

#varietyOfServices article p {
  padding: 20px 25px;
  color: #7f969e;
}
