
section {
  background-color: pink;
  width: 500px;
  height: 300px;
  margin-left: 200px;
  margin-top: 200px;
}


h2{
  display: inline-block;
  width: 200px;
  height: 100px;
  padding: 30px;
  margin: 20px;
}

h3 {
  display: inline-block;
}

h4 {
  display: inline;
  width: 100px;
  height: 100px;
}

h1, h2, h3, h4 {
  border: 1px solid grey;
}
